html, body {
    margin: 0;
    padding: 0;  
    width: 100%;
    height: 100%;   
}

body {
   display: flex;  
}

canvas {
    width: 100%;
    image-rendering: pixelated;
}

#title {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 375px)  {
    #title {
        font-size: 6rem;
    }
}

@media only screen and (min-width: 768px)  {
    #title {
        font-size: 11rem;
    }
}

@media only screen and (min-width: 1024px)  {
    #title {
        font-size: 15rem;
    }
}

@media only screen and (min-width: 1440px)  {
    #title {
        font-size: 21rem;
    }
}

@media only screen and (min-width: 2560px)  {
    #title {
        font-size: 37rem;
    }
}